.searchbox {
    width: 386px;
    height: 46px;
    margin-top: 13px;
    margin-left: 69px;
    padding: .375rem .75rem;
    border-radius: 30px;
    border: 1px solid #CFC7C7;
}
main, header, footer{
    overflow: hidden;
} 
.head1{
    position: fixed !important;
}


.searchbox::placeholder {
    padding: 20px 20px;
    font-size: 20px;
}

.searchicon {

    margin-left: -51px;
    margin-top: -4px;
}

.organiclogo {
    width: 289px;
    margin-left: 98px;
    margin-top: 6px;
}

.pic1 {

    margin-left: 50px;
    margin-top: 16px;
    width: 44px;
}

.welcome {
    font-size: 19px;
    margin-left: -27px;
    margin-top: 12px;
    color: #BEADAD;
}
.formsign{
    position: fixed !important;
    z-index: 5;
}


.sign {
    border: none !important;
    font-size: 17px;
    margin-left:-35px;
    margin-top: -20px;
}

.pic2 {

    width: 44px;
    margin-top: 17px;
}

.mycart {
    margin-left: -71px;
    font-size: 21px;
    margin-top: 11px;
    color: #BEADAD;
}

.rupees {
    font-size: 16px;
    margin-left: -67px;
    margin-top: -4px;
}

.backgreen {
    
    width: 100%;
    height: 70px;
    
    
    background-color: #7FB401;


}

.home{
    margin-left: 55px;
    

}
.dropdown-item:hover{
    background-color:#00FA32 !important;

    animation-timing-function: ease-in-out;
    animation-delay: 5s;
    border: none !important;
    
}

.home {
    color: white !important;
    font-weight: 700 !important;
}

.pic3 {
    width: 35px;
}
.leaf{
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.pureorganic{
    width: 445px;
    text-align: center;
    position: relative;
    top: 224px;
    left: 518px;
    font-size: 50px;
    font-weight: bold;
    color: #CC5B2A;
    margin-left: 73px;
}
.logopic{
    width: 250px;
    margin-left: 90px;
}
.organcamp{
    margin-top: 400px;
    text-align: center;
    font-weight: bold;
}
.topview{
    margin-top: 50px;
}
.topview1{
    margin-top: 50px;
    margin-bottom: 70px;
}
.postcomment{
    text-decoration: none;
    color: white;
    background-color: #7FB401;
    padding: 8px 30px 8px 38px;
    margin-left: 658px;

    margin-bottom: 50px;
   
}




.backblack {
    background-color: #363636;
    width: 100%;
    height: 400px;
    margin-top: 70px;
}

.darkblack {
    background-color: #2F2F2F;
    width: 100%;
    height: 50px;
}

.whiteorganiclogo {
    width: 252px;
    margin-top: 10px;
    margin-left: 23px;
    margin-bottom: 30px;

}

.footpara {
    color: white;
    margin-left: 23px;

}

.buytheme {
    background-color: #7FB401;
    padding: 10px 30px;
    margin-left: 80px;
    margin-top: 30px;
    border: none;
}

.buytheme a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.category {
    color: white;
    font-size: 22px;
    margin-left: 80px;
    margin-top: 28px;
}

.form {
    margin-top: 40px
}

.closed {
    color: #7FB401;
}

.formers {
    font-size: 17px;
    color: white;
    margin-left: 80px;
    margin-top: 20px;
    font-weight: 400;
}

.copyright {
    color: white;
    margin-left: 28px;
    margin-top: 11px;
    font-size: 20px;
}
.icon1{
    margin-top: 10px;
}
.icon3{
    margin-top: 10px;
}
.icon4{
    margin-top: 10px;
    height: 30px;
}
.ak{
    color: #7FB401;
    font-family: 'Inder', sans-serif;
    font-weight: 500;
}
.carousel-control-next-icon{
    background-image: url(/assets/images/25-254232_right-arrow-icon-green-circle-with-arrow-icon.png) !important;
}
.carousel-control-prev-icon {
    background-image: url(/assets/images/25-254232_right-arrow-icon-green-circle-with-arrow-icon.png) !important;
    transform: rotate(180deg);
}
.company{
    color: black;
    background-color: #7FB401;
    padding: 2px 33px 8px 32px;
    margin-left: 79px;
    border-radius: 10px;
    position: relative;
    top: 13px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}







@media screen and (max-width:500px) {
    .searchbox {
        margin-left: 44px;
        width: 300px;
    }

    .organiclogo {
        width: 243px;
        margin-left: -144px;
        margin-top: 71px;
    }
    .welcome {
        margin-left: -4px;
    }
  
    .sign {

        margin-left: -16px;

    }
   
    .mycart {
        margin-left: -49px;
    }
    .rupees {
        margin-left: -49px;
    }

    .backgreen {

        width: 100%;
        height: auto;


    }
    .leaf {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }
    .pureorganic {
        width: 211px;
        text-align: center;
        position: relative;
        top: 67px;
        left: 90px;
        font-size: 22px;
        font-weight: bold;
        color: #CC5B2A;
    }
    .organcamp {
        margin-top: 171px;
        text-align: center;
        font-weight: bold;
    }
    .topview {
        margin-top: 50px;
        margin-left: -30px;
    }
    .topview1 {
        margin-top: 7px;
        margin-bottom: 70px;
        margin-left: -30px;
    }
    .postcomment {
        text-decoration: none;
        color: white;
        background-color: #7FB401;
        padding: 8px 30px 8px 38px;
        margin-left: 121px;
        margin-bottom: 50px;
    }
    .backblack {
        background-color: #363636;
        width: 100%;
        height: auto;
    }
    .copyright {
        color: white;
        margin-left: 11px;
        margin-top: 17px;
        font-size: 10px;
    }
    .icon1, .icon2, .icon3, .icon4{
        margin-left: 220px;
        margin-top: -80px;
        width: 33px;
        height: 33px;
        
    }
}











