.searchbox {
    width: 386px;
    height: 46px;
    margin-top: 13px;
    margin-left: 69px;
    padding: .375rem .75rem;
    border-radius: 30px;
    border: 1px solid #CFC7C7;
}
main, header, footer{
    overflow: hidden;
} 
.head1{
    position: fixed !important;
}


.searchbox::placeholder {
    padding: 20px 20px;
    font-size: 20px;
}

.searchicon {

    margin-left: -51px;
    margin-top: -4px;
}

.organiclogo {
    width: 289px;
    margin-left: 98px;
    margin-top: 6px;
}

.pic1 {

    margin-left: 50px;
    margin-top: 16px;
    width: 44px;
}

.welcome {
    font-size: 19px;
    margin-left: -27px;
    margin-top: 12px;
    color: #BEADAD;
}
.formsign{
    position: fixed !important;
    z-index: 5;
}


.sign {
    border: none !important;
    font-size: 17px;
    margin-left:-35px;
    margin-top: -20px;
}

.pic2 {

    width: 44px;
    margin-top: 17px;
}

.mycart {
    margin-left: -71px;
    font-size: 21px;
    margin-top: 11px;
    color: #BEADAD;
}

.rupees {
    font-size: 16px;
    margin-left: -67px;
    margin-top: -4px;
}

.backgreen {
    
    width: 100%;
    height: 70px;
    
    
    background-color: #7FB401;


}

.home{
    margin-left: 55px;
    

}
.dropdown-item:hover{
    background-color:#00FA32 !important;

    animation-timing-function: ease-in-out;
    animation-delay: 5s;
    border: none !important;
    
}

.home {
    color: white !important;
    font-weight: 700 !important;
}

.pic3 {
    width: 35px;
}

.banner {
    width: 100%;
    height: 600px;
    object-fit: cover;

}

.pic4 {
    position: absolute;
    width: 100%;
    height: 600px;
    object-fit: cover;
    
}

.grapes{
    position: absolute !important;
    z-index: 5;
    margin-left: 377px;
    width: 73px;
}
.organicfood{
   
    position: absolute !important;
    z-index: 5;
    margin-left: 279px;
    margin-top: 81px;
    color: white;
}
.year{
    position: absolute !important;
    z-index: 5;
    margin-left: 283px;
    margin-top: 136px;
}
.line1{
    position: absolute !important;
    z-index: 5;
    margin-top: 197px;
    margin-left: 80px;
    
}
.organicstore{
    position: absolute !important;
    z-index: 5;
    font-size: 81px;
    margin-top: 236px;
    margin-left: 147px;
    color: white;
    font-family: 'Inconsolata', monospace;
}
.fruitveg{
    position: absolute !important;
    z-index: 5;
    margin-top: 349px;
    margin-left: 274px;
    color: white;
}
.quality{
    position: absolute !important;
    z-index: 5;
    margin-top: 400px;
    margin-left: 150px;
    color: white;
}
.growlife{
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -1;
}
.circlecolor{
    width: 250px;
    margin-top: 300px;
    margin-left: 70px;
    position: absolute;
    z-index: -1;

}
.circlecolor1{
    width: 250px;
    margin-left:100px;
    margin-top: 20px;
    position: absolute;
    z-index: -1;

}
.circlecolor2{
    width: 250px;
    margin-left: 90px;
    margin-top: 300px;
    position: absolute;
    z-index: -1;
}
 .organicfoody{
    font-size: 21px;
    width: 166px;
    margin-top: 387px;
    margin-left: 95px;
    font-weight: bold;
} 
.nature{
    font-size: 21px;
    font-weight: bold;
    width: 158px;
    margin-top: 104px;
    margin-left: 145px;
}
.elf{
    
    font-size: 21px;
    width: 158px;
    margin-top: 375px;
    margin-left: 133px;
    font-weight: bold;

}
.card-body{
    background-color: #7FB401;
    height: 366px;
    width: 356px;
}

.lighting{
    background-color: rgba(255, 255, 255, 0.229);
    padding: 0px 4px 8px 31px;
    width: 267px;
    height: 231px;
    margin-left: 27px;
    color: white;
    font-size: 19px;
    text-align: left;
}
.quat{
    width: 60px;
    height: 60px;
}
.william{
    font-size: 23px;
    margin-left: -31px;
    color: #ffff;
}
.design{
    font-size: 18px;
    margin-left: -29px;
    color: #ffff;
}
.williamphoto{
    width: 101px;
    margin-left: 31px;
    margin-top: -10px;
    
}
.akm{
    margin-top: 170px;
}
.just{
    margin-left: 70px;
}
.just1{
    margin-left: 70px;
}
.just2{
    margin-left: 70px;
}
.akm1, .akm2{
    margin-top: 60px;
}













.backblack {
    background-color: #363636;
    width: 100%;
    height: 400px;
    margin-top: 60px;
}

.darkblack {
    background-color: #2F2F2F;
    width: 100%;
    height: 50px;
}

.whiteorganiclogo {
    width: 252px;
    margin-top: 10px;
    margin-left: 23px;
    margin-bottom: 30px;

}

.footpara {
    color: white;
    margin-left: 23px;

}

.buytheme {
    background-color: #7FB401;
    padding: 10px 30px;
    margin-left: 80px;
    margin-top: 30px;
    border: none;
}

.buytheme a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.category {
    color: white;
    font-size: 22px;
    margin-left: 80px;
    margin-top: 28px;
}

.form {
    margin-top: 40px
}

.closed {
    color: #7FB401;
}

.formers {
    font-size: 17px;
    color: white;
    margin-left: 80px;
    margin-top: 20px;
    font-weight: 400;
}

.copyright {
    color: white;
    margin-left: 28px;
    margin-top: 15px;
}
.icon1{
    margin-top: 10px;
}
.icon3{
    margin-top: 10px;
}
.icon4{
    margin-top: 10px;
    height: 30px;
}
.company{
    color: black;
    background-color: #7FB401;
    padding: 2px 33px 8px 32px;
    margin-left: 79px;
    border-radius: 10px;
    position: relative;
    top: 13px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}













@media screen and (max-width:500px) {
    .searchbox {
        margin-left: 44px;
        width: 300px;
    }

    .organiclogo {
        width: 243px;
        margin-left: -144px;
        margin-top: 71px;
    }
    .welcome {
        margin-left: -4px;
    }
  
    .sign {

        margin-left: -16px;

    }
   
    .mycart {
        margin-left: -49px;
    }
    .rupees {
        margin-left: -49px;
    }

    .backgreen {

        width: 100%;
        height: auto;


    }
    .circlecolor {
        width: 135px;
        margin-top: 100px;
        margin-left: -11px;
        position: absolute;
        z-index: -1;
    }
    .circlecolor1 {
        width: 135px;
        margin-left: 122px;
        margin-top: -430px;
        position: absolute;
        z-index: -1;
    }
    .circlecolor2 {
        width: 135px;
        margin-left: 252px;
        margin-top: -545px;
        position: absolute;
        z-index: -1;
    }
    .organicfoody {
        font-size: 13px;
        width: 72px;
        margin-top: 387px;
        margin-left: 95px;
       
        position: relative;
        top: -256px;
        left: -85px;
    }
    .nature {
        font-size: 13px;
        
        width: 95px;
        margin-top: 119px;
        margin-left: 145px;
        position: relative;
        top: -500px;
    }
    .elf {
        font-size: 13px;
        width: 99px;
        margin-top: 375px;
        margin-left: 138px;
      
        position: relative;
        top: -884px;
        left: 132px;
    }
    .growlife {
        width: 100%;
        height: 261px;
        position: absolute;
        z-index: -1;
    }
    .just{
        margin-top: -790px ;
        margin-left: 6px;
    }
    .just1{
        margin-top: 60px;
        margin-left: 6px;
    }
    .just2{
        margin-top: 60px;
        margin-left: 6px;
        margin-bottom: 30px;
    }
    .akm{
        margin-top: 50px;
    }
    .backblack {
        background-color: #363636;
        width: 100%;
        height: auto;
    }
    .copyright {
        color: white;
        margin-left: 11px;
        margin-top: 17px;
        font-size: 10px;
    }
    .icon1, .icon2, .icon3, .icon4{
        margin-left: 220px;
        margin-top: -80px;
        width: 33px;
        height: 33px;
        
    }
   
}
